*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar


*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#eclipse
.metadata
test-classes/
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

#gwt
gwt-unitCache/
RemoteSystemsTempFiles/
